/* Media Query for Small Screens */
@media (max-width: 767.98px) {
  .border-sm-start-none {
    border-left: none !important;
  }
}

/* Styling for Internship Template */
.internship-template {
  background-color: #f7f7f7;
  padding: 50px 0;
}

/* Styling for Internship Card */
.internship-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  color: #888;
  margin-bottom: 20px;
}

.card-text {
  margin-bottom: 20px;
}

.card-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.card-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-list-item i {
  margin-right: 10px;
}

/* Styling for the main content */
.main-content {
  margin-left: 250px; /* Width of the sidebar */
  padding: 20px;
}

/* Media Query for Button Container (min-width: 500px) */
@media (min-width: 500px) {
  .button-container {
    position: absolute;
    top: 165px;
    left: 75%;
    transform: translate(-10%, -50%);
  }
}

/* Media Query for Button Save (min-width: 250px) */
@media (min-width: 250px) {
  .button-save {
    position: absolute;
    top: 2px;
    left: 89%;
  }
}

/* Removed animation for save-image */
.btn {
  border: none;
}

/* Media Query for Main Content Padding (min-width: 991.98px) */
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar Styling */
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  width: 240px;
}

/* Media Query for Responsive Sidebar (max-width: 991.98px) */
@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(66, 52, 52, 0.16), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
  /* Add some custom styling */
  #sidebarMenu {
    background-color: #f7f7f7;
  }

  .list-group-item {
    background-color: #f7f7f7;
    transition: background-color 0.3s ease;
  }

  .list-group-item:hover {
    background-color: #e0e0e0;
  }

  /* Add some additional styling for a creative look */
  .list-group-item {
    padding: 10px 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    text-decoration: none;
    color: #782020;
  }

  .list-group-item i {
    font-size: 24px;
    margin-right: 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
 
