<header
  class="bg-dark py-5"
  style="background-image: url('../../assets/images/slider2/bg3.jpg')"
>
  <div class="container px-5 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="text-white">Offres</h1>
    </div>
  </div>
</header>

<section class="internship-template">
  <div class="container-flex">

    <div class="row justify-content-center">
      <div class="col-md-8 col-xl-10">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th>Search</th>
              <th>Filter:</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input
                  type="text"
                  [(ngModel)]="filterText"
                  class="form-control"
                  placeholder="Search"
                />
              </td>
              <td>
                <select class="form-control" [(ngModel)]="selectedDomain">
                  <option value="">All Domaine</option>
                  <option value="cloud">cloud</option>
                  <option value="développement informatique">
                    développement informatique
                  </option>
                  <option value="web development">web development</option>
                </select>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="selectedlocation"
                  placeholder="Location"
                  (ngModelChange)="
                    selectedlocation = capitalizeFirstLetter($event)
                  "
                />
              </td>
              <td>
                <select class="form-control" [(ngModel)]="selectedOffre">
                  <option value="" >All offres</option>
                  <option value="offre de emploi">offre de emploi</option>
                  <option value="offre de stage">offre de stage</option>
                </select>
              </td>
              <td>
                <div class="m-1 text-center">
                  <button
                    type="submit"
                    (click)="
                      filterEmails(
                        selectedDomain,
                        selectedOffre,
                        selectedlocation
                      )
                    "
                    class="btn btn-lg bg-success"
                  >
                    search
                  </button>
                </div>
              </td>
              <td>
                <div class="m-1 text-center">
                  <button
                    type="submit"
                    (click)="
                     loadData(1)
                    "
                    class="btn btn-lg bg-danger"
                  >
                    clear
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- <div class="container p-2">
    <div class="row">

      <div class="col-md-3">
        <input type="text" [(ngModel)]="filterText" class="form-control" placeholder="Search">
      </div>
      <div class="col-md-3">
        <select  class="form-control" [(ngModel)]="selectedDomain">
          <option value=""  >All Domaine</option>
          <option  value="cloud" >cloud</option>
          <option  value="développement informatique">développement informatique</option>
          <option  value="web development">web development</option>

        </select>
      </div>
      <div class="col-md-3">
        <select  class="form-control" [(ngModel)]="selectedlocation">
          <option value=""  >location</option>
          <option  value="Paris" >Paris</option>
          <option  value="Tunis">Tunis</option>
          <option  value="Sousse">Sousse</option>

        </select>
      </div>
      <div class="col-md-3">
        <select  class="form-control" [(ngModel)]="selectedOffre">
          <option value=""  >All offres</option>
          <option  value="offre de emploi" >offre de emploi</option>
          <option  value="offre de stage" >offre de stage</option>

        </select>

      </div>
      <div class="col-lg-12">
        <button type="submit" (click)="filterEmails(selectedDomain,selectedOffre,selectedlocation)" class="btn btn-success btn-outline-primary">search</button>

      </div>
    </div>

  </div> -->

  <!--Main layout-->
  <div class="container-flex py-5">
    <!-- <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="container">
        <div class="card">

          <div class="body" style="bg-transparent">
            <ul>
              <li><i class="fas fa-home icon"></i> Home</li>
              <li><i class="fas fa-underline icon"></i> Tipography</li>
              <li><i class="fas fa-boxes icon"></i> Widgets</li>
              <li><i class="fas fa-table icon"></i> Tables</li>
              <li><i class="fab fa-wpforms icon"></i> Forms
                <ul>
                  <li><i class="fas fa-pencil-alt icon"></i> First form</li>
                  <li><i class="fas fa-paper-plane icon"></i> Second form</li>
                </ul>
              </li>
              <li><i class="fas fa-chart-pie icon"></i> Charts</li>
            </ul>
          </div>
        </div>
      </div>

      </nav> -->

    <div
      class="row justify-content-center mt-4"
      *ngFor="let x of data | filter : filterText"
      [@fadeInAnimation]
    >
      <div class="col-md-8 col-xl-10">
        <div class="card internship-card shadow-lg" [@fadeInAnimation]>
          <div class="card-body">
            <div class="text-container">
              <div class="button-save">
                <button (click)="onSave(x)" class="btn btn">
                  <img
                    src="../../assets/images/save.png"
                    alt=""
                    class="save-image"
                  />
                </button>
              </div>

              <h5 class="card-title">
                <span>{{ x.name }}</span>
              </h5>

              <ul class="card-list">
                <li class="card-list-item">
                  <i class="bi bi-pencil-fill"></i>
                  {{ x.date | date : "yyyy-MM-dd" }}
                </li>
                <li class="card-list-item">
                  <i class="bi bi-calendar"></i>
                  {{ x.dure }}
                </li>
                <li class="card-list-item">
                  <i class="bi bi-geo-alt"></i>
                  {{ x.location }}
                </li>
                <li class="card-list-item">
                  <i class="bi bi-link"></i>
                  <a href="{{ x.link }}" target="_blank" class="link">{{
                    x.link
                  }}</a>
                </li>
              </ul>
            </div>
            <div class="button-container">
              <a [routerLink]="['/details', x.id]" class="btn btn-primary"
                ><i class="bi bi-info-circle-fill"></i> View Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="internship-template" *ngIf="val">
      <div class="container">
        <div class="row justify-content-center mt-4">
          <div class="col-md-8 col-xl-10">
            <div class="card internship-card shadow-lg">
              <div class="card-body">
                <div class="text-container">
                  <h1>{{ msg }}</h1>

                  <h1>😊...</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="!val">
    <div class="pagination">
      <button
        class="btn btn-primary"
        (click)="onPageChange(currentPage - 1)"
        [disabled]="currentPage === 1"
      >
        Previous
      </button>
      <button
        class="btn btn-primary"
        (click)="onPageChange(currentPage + 1)"
        [disabled]="data === null"
      >
        Next
      </button>
    </div>
  </div>
</section>
