<body>
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form  #myForm="ngForm"  (ngSubmit)="register(myForm)">
        <h1>Sign up</h1>
                  <!-- First Name -->
                  <input type="text" id="form3Example1c"  [(ngModel)]="user.prenom" placeholder="prenom" name="prenom" class="form-control"
                    required #prenom="ngModel" />
                  <div *ngIf="prenom.touched && prenom.invalid" class="text-danger">
                    <div *ngIf="prenom.errors?.['required']">First Name is required.</div>
                  </div>
                  <input type="text" [(ngModel)]="user.nom" name="nom" id="form3Example1c" placeholder="nom" class="form-control" required #nom="ngModel" />
                  <div *ngIf="nom.touched && nom.invalid" class="text-danger">
                    <div *ngIf="nom.errors?.['required']">Last Name is required.</div>
                  </div>


                  <!-- Username -->
                  <input type="text" id="form3Example3c" [(ngModel)]="user.username" name="username"  placeholder="username" class="form-control"
                    required #username="ngModel" />
                  <div *ngIf="username.touched && username.invalid" class="text-danger">
                    <div *ngIf="username.errors?.['required']">Username is required.</div>
                  </div>


                  <!-- Email -->
                  <input type="email" [(ngModel)]="user.email" name="email" id="form3Example3c" placeholder="Email" class="form-control" required #email1="ngModel" />
                  <div *ngIf="email1.touched && email1.invalid" class="text-danger">
                    <div *ngIf="email1.errors?.['required']">Email is required.</div>
                  </div>

                  <!-- Password -->
                  <input type="password" id="form3Example4c" [(ngModel)]="user.password" name="password" placeholder="password" class="form-control  form-control-lg"
                    required #password1="ngModel" />
                  <div *ngIf="password1.touched && password1.invalid" class="text-danger">
                    <div *ngIf="password1.errors?.['required']">Password is required.</div>
                  </div>



                    <button type="submit" class="btn btn-primary btn-lg">Register</button>

                </form>
    </div>
    <div class="form-container sign-in-container">
      <a routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      <form #f="ngForm">
        <h1>Sign in</h1>

        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>

        <input type="email" id="form3Example3" [(ngModel)]="user.email" name="email" class="form-control form-control-lg"
          placeholder="Enter a valid email address" #email="ngModel" required />
          <div *ngIf="email.touched && email.invalid" class="text-danger">
            <div *ngIf="email.errors?.['required']">Email is required.</div>
          </div>

          <input type="password" id="form3Example4" #password="ngModel" [(ngModel)]="user.password" name="password"class="form-control form-control-lg"
            placeholder="Enter password" required/>
            <div *ngIf="password.touched && password.invalid" class="text-danger">
              <div *ngIf="password.errors?.['required']">Password is required.</div>
            </div>
        <a routerLink="/forget">Forgot your password?</a>
        <button type="button" class="btn btn-primary " (click)="login(f)"
        >Login</button>

      </form>
    </div>
    <div class="overlay-container" >
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right" >
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>

  <!-- <footer>
    <p>
      Created with <i class="fa fa-heart"></i> by
      <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
      - Read how I created this and how you can join the challenge
      <a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
    </p>
  </footer> -->
</body>
