<header class="bg-dark py-5 header-animation" style="background-image: url('../../assets/images/slider2/bg3.jpg')">
  <div class="container px-5 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="text-white ">Contact Us</h1>
    </div>
  </div>
</header>
<div class="section p-2 m-2">
  <div class="container mt-5">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

